* {
    box-sizing: border-box;
    margin: 0;
}

.chrome-tab {
    display: none;
    position: fixed;
    top: 10vw;
    right: 25vw;
    z-index: 99;
    background-color: #fff;
    width: 600px;
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
    box-shadow: rgba(102, 96, 91, 0.7) 0px 0px 30px;
}

.show {
    display: block;
}

.search-box {
    width: 100%;
    font-size: 14px;
}

.fav-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.tab-title {
    margin-left: 10px;
}

.tab-list {
    margin: 10px 0;
    height: 400px;
    overflow: auto;
    padding: 0;
}

.tab-list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.tab-item {
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
}

.tab-item:nth-child(even) {
    background: #ffffff;
}

.tab-item:nth-child(odd) {
    background: #f3f4f8;
}

.tab-item:hover {
    cursor: pointer;
    font-size: 14px;
    border-left: 4px solid #436b9a;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
